{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <h1>Create new Participant</h1>

    {{ include('participant/_form.html.twig') }}
    {% if onlyToo is defined %}
        <a href="{{ path('app_participant_game') }}" class="btn btn-primary">
            jouer a 2
        </a>
    {% endif %}
{% endblock %}
