{% extends 'base.html.twig' %}

{% block title %}Hello PartyController!{% endblock %}

{% block body %}
    <a href="{{ path('app_participant_new_first') }}" class="btn btn-primary">
        premier participant
    </a>
{% endblock %}
